*

!.gitignore
!.gitconfig
!.gitignore_global

!.vscode/
!.vscode/settings.json

!.config/
!.config/aerospace/
!.config/aerospace/**/*
!.config/borders/
!.config/borders/**/*
!.config/karabiner-config/
!.config/karabiner-config/**/*
!.config/sketchybar/
!.config/sketchybar/**/*

node_modules/
.DS_Store
